@import url("https://fonts.google.com/specimen/Manrope");
/* Reset margini e padding di default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//  Breakpoints
$mobile: 375px;
$desktop: 1440px;

// color palette
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$ligth-grayish-blue: hsl(210, 46%, 95%);

body{
    font-size: 13px;
    font-family: "Manrope", sans-serif;
    background-color: $ligth-grayish-blue;
    min-height: 100vh;
    display: flex;
    justify-content: center;  
    align-items: center; 
    line-height: 1.5;
    color: $very-dark-grayish-blue;
}



h1, h3{
    color: $very-dark-grayish-blue;
}

p{
    color: $desaturated-dark-blue;
}


.card{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    width: 700px;
    max-width: $desktop;
    background-color: white;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);

    &__image {
        width: 100%; //300px;
        border-radius: 10px 0 0 10px;
        object-fit: cover;
        object-position: left;
        aspect-ratio: 1/1;
    }

    &__author {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        position: relative;
    }

    &__avatar{
        width: 50px;
        height: 50px;
        border-radius: 60%;
        margin-right: 15px;
    }

    &__content{
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }

    &__share{
        border-radius: 50%;
        background-color: $ligth-grayish-blue;
        padding: 2%;
        margin-left: auto;
        cursor: pointer;  
        z-index: 2;      
    }

    
    &__share-text{
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 2px;
        color: $grayish-blue;
    }

    &__share-dropdown{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        background-color: $very-dark-grayish-blue;
        padding: 15px 30px;
        border-radius: 10px;
        position: absolute;
        display: none;
        transform: translate3D(122%, -110%, 0);

    }

}


.card__share.is-open{
    background-color: $desaturated-dark-blue;        
    z-index: 2;

    .card__share-icon{
        filter: brightness(0) invert(1);
    }

} 


@media (min-width: 426px) and (max-width: $desktop) {
    .card__share-dropdown::after{
        content: "";
        position: absolute;
        bottom: -10px; 
        left: 50%;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid $very-dark-grayish-blue;
    }
    
}
@media (max-width: 425px) {
    .card{
        flex-direction: column;
        width: 330px;
        max-width: 425px;

        &__image{
            border-radius: 10px 10px 0 0;
            aspect-ratio: unset;
            height: 200px;
        }

        &__content{
            padding: 20px;
            gap: 10px;
            padding-bottom: 15px;
        }
       
        &__share-dropdown{
            padding: 20px;
            transform: translate3d(-20px, 5px, 0);
            width: 330px;
            border-radius: 0 0 10px 10px;
            /* background: transparent; */
            // border: black solid;
            padding-bottom: 24px; 
        }

    
    }

}